<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
        <div class="container-fluid">
          <div class="container-fluid" style="padding-top: 40px;">
            <%for(var i=0;i<announcements.length;i++){%>
            <div class="row justify-content-center mt-1">
                <div class="col-lg-12">
                    <div class="card">
                          <div style="margin:10px;" class="d-flex align-items-center">
                            <img src="<%=announcements[0].attributes.department.data.attributes.profile.data.attributes.profile_url%>" alt="Announcer's Profile" class="rounded-circle mr-3" style="width: 32px; height: 32px;">
                            <div style="margin-left:18px;margin-top: 3px;">
                                <h5 class="card-title"><%=announcements[0].attributes.department.data.attributes.profile.data.attributes.username%></h5>
                            </div>
                        </div>
                        <div class="card-header">
                            <h5 class="card-title mb-0"><%=announcements[i].attributes.title%></h5>
                        </div>
                        <div class="card-body">
                            <%-announcements[i].attributes.announcement-%>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex justify-content-between">
                                <span>Created  <%-new Date(announcements[i].attributes.createdAt).toLocaleString()%></span>
                                <span>Updated  <%=new Date(announcements[i].attributes.updatedAt).toLocaleString()%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
          </div>
      </div>
      

    
    </div>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
</body>

</html>