<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SG Platform</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link rel="stylesheet" href="/platform/assets/css/dataTables.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <style>
    @media screen {
      .scroll {
        display: block;
        overflow-x: auto;
      }
    }
 #example_filter label input {
  display: block;
  width: 70vw;
  margin: 20px 10px;
  padding: 7px 25px;
  font-size: 1.3em;
  border: 1 px solid black;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.3s ease;
}

#example_filter label input:focus {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  animation: glow 1s infinite alternate;
}

#example_filter label input::placeholder {
  color: #aaa;
  font-size:0.9em
}

#example_filter label input:focus::placeholder {
  color: #888;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #9b59b6;
  }
  50% {
    box-shadow: 0 0 20px #e74c3c;
  }
  100% {
    box-shadow: 0 0 5px #9b59b6;
  }
}
  </style>
  <%-include("../partials/preloader-css")%>
  <%-include("../partials/preloader-js")%>

</head>
<%-include("../partials/post-head")%>

<script>
    function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
</script>

<body>
  <!--  Body Wrapper -->
  <%-include("../partials/preloader")%>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flex-row mb-2">
                      <span class="fs-6 fw-semibold">Course Review System</span>
                      <a class="btn" data-bs-toggle="modal" data-bs-target="#videoModal">
                        
                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            width="30px" height="30px" viewBox="0 0 466 466" xml:space="preserve">
                          <g>
                            <g>
                              <g>
                                <path d="M370.001,26.35H18.5C8.282,26.35,0,34.633,0,44.85v289.477c0,10.218,8.282,18.5,18.5,18.5h262.662l-20.326-23.571
                                  h-48.548v-29.603h25.435l-0.183-0.224c-6.49-7.407-10.784-15.061-12.85-22.429H44.4V102.175h299.7V277h-40.213
                                  c6.104,6.485,12.491,13.053,17.853,18.368c3.759-3.521,8.191-7.416,13.159-11.314c16.925-13.288,33.388-21.414,48.932-24.151
                                  c1.562-0.274,3.121-0.479,4.672-0.647V44.85C388.501,34.633,380.219,26.35,370.001,26.35z M129.038,299.653h47.175v29.601
                                  h-47.175V299.653z M45.787,299.653h47.176v29.601H45.787V299.653z M92.963,79.521H45.787v-29.6h47.176V79.521z M176.213,79.521
                                  h-47.175v-29.6h47.175V79.521z M259.463,79.521h-47.175v-29.6h47.175V79.521z M342.713,79.521h-47.175v-29.6h47.175V79.521z"/>
                                <path d="M464.662,354.325c-4.595-24.766-20.357-47.662-29.344-59.11c-12.191-15.53-27.666-21.767-45.99-18.538
                                  c-13.086,2.305-27.307,9.429-42.271,21.177c-10.572,8.303-18.558,16.611-22.088,20.479c-8.874-7.644-33.651-33.175-45.816-47.571
                                  c-6.109-7.229-21.865-22.604-33.621-11.991c-12.654,12.301,5.882,32.396,6.362,32.979l74.362,91.024
                                  c-0.301,0.402-0.637,0.752-1.021,1.055c-7.133,5.601-27.943-4.69-36.344-10.245c-7.68-5.076-20.609-5.037-27.137,0.086
                                  c-2.612,2.053-4.06,4.842-4.075,7.854c-0.021,4.338,2.815,8.82,8.422,13.313c0.063,0.051,0.177,0.149,0.339,0.289
                                  c8.286,7.1,30.764,24.782,60.445,35.668c19.027,6.979,37.564,9.854,55.104,8.551c21.754-1.621,42.023-9.693,60.246-24
                                  C461.781,399.991,469.327,379.461,464.662,354.325z"/>
                                <path d="M175.976,127.423c-2.845-2.387-6.815-2.905-10.183-1.335c-3.365,1.57-5.517,4.948-5.517,8.662v100.833
                                  c0,3.715,2.151,7.092,5.517,8.661c1.291,0.604,2.671,0.897,4.042,0.897c2.204,0,4.386-0.763,6.141-2.233l60.163-50.416
                                  c2.168-1.817,3.42-4.501,3.42-7.328s-1.252-5.511-3.42-7.327L175.976,127.423z"/>
                              </g>
                            </g>
                          </g>
                          </svg>
                        </a>
                    </div>
                    <!-- Youtube Video Modal -->
                    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel">How to use the Course Reviews Platform?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- YouTube video -->
                            <div class="ratio ratio-16x9">
                              <iframe src="https://www.youtube.com/embed/OANkAYuW8ME?si=-pWoRDFmHRmXjuyB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex-row mb-3">
                      <ul class="list-inline">
                        <span style="font-size: 10px;" class="fs-3 fw-semibold">
                          <!-- Button to trigger the modal -->
                          A small guide to navigating course reviews: <br />
                          1. Courses listed below are courses offered in previous semesters, this includes their description as taken from AMS.<br />
                          2. To navigate to a particular course you can search by course code or course name in the search bar. You can see all courses for a particular semester or academic year using the filters.<br />
                          3. Please note that for courses offered in multiple semesters searching for a given semester will show only the course from that semester, in such a case please search by course name instead.<br />
                          We also request that you add your own reviews to help your peers make more informed choices! 
                        </span>                                         
                      </ul>
                    </div>
                    <br>
                    <!-- <table class="inputs">
                      <tbody>
                        <tr>
                          <td>Filter by Semester:</td>
                          <td><input type="text" id="sem" name="sem"></td>
                        </tr>
                        <tr>
                          <td>Filter by Year:</td>
                          <td><input type="text" id="max" name="max"></td>
                        </tr>
                      </tbody>
                    </table> -->
                    <form>
                      <div class="row">
                        <div class="col-lg-6">
                          <select class="form-select" id="sem" name="sem">
                            <option selected>Filter by Semester</option>
                            <option value="Monsoon">Monsoon</option>
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                          </select>
                        </div>
                        <div class="col-lg-6">
                          <select class="form-select" id="year" name="year">
                            <option selected>Filter by Year</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                          </select>
                        </div>
                      </div>
                    </form>
                    <br />
                    <table id="example" class="table table-striped scroll" style="width:100%">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Course Code</th>
                              <th>Course Title</th>
                              <th>Faculty</th>
                              <th>Semester</th>
                              <th>Year</th>
                          </tr>
                      </thead>
                      <tbody>
                        <%for(i=0;i<data.length;i++){%>
                         <%if(data[i].attributes.reviews.data.length!=0){%>
                          <tr style="cursor: pointer;" onclick="window.open('/platform/course-reviews/<%=data[i].id%>', '_blank');">
                              <td style="display:hidden">-</td>
                              <td><%=data[i].attributes.courseCode.substring(0,25)%></td>
                              <td><%=data[i].attributes.courseTitle%> <br /><span style="font-size:10px"><%=data[i].attributes.semester.charAt(0).toUpperCase()%><%=data[i].attributes.semester.slice(1)%> <%=data[i].attributes.year%></span></td>
                              <!-- <td><b><%=data[i].attributes.semester%> - <%=data[i].attributes.year%></b></td> -->
                              <td>
                                  <% let concatenatedEmails = ''; %>
                                  <% for (let j = 0; j< data[i].attributes.faculties.data.length; j++) { %>
                                      <% const email = data[i].attributes.faculties.data[j].attributes.email; %>
                                      <% if (email && email.indexOf('_') === -1) { %>
                                        <% concatenatedEmails += email+ ` `; %>
                                      <% } %>
                                  <% } %>
                                  <%= concatenatedEmails.substring(0, 12) %><%= concatenatedEmails.length > 12 ? '...' : '' %>
                              </td>
                              <td><%=data[i].attributes.semester.charAt(0).toUpperCase()%><%=data[i].attributes.semester.slice(1)%></td>
                              <td><%=data[i].attributes.year%></td>
                          </tr>
                           <%}else{%>
                            <tr style="opacity:0.5; cursor:pointer" onclick="window.open('/platform/course-reviews/<%=data[i].id%>', '_blank');">
                                <td style="display:hidden">_</td>
                                <td><%=data[i].attributes.courseCode.substring(0,25)%></td>
                                <td><%=data[i].attributes.courseTitle%> <br /><span style="font-size:10px"><%=data[i].attributes.semester.charAt(0).toUpperCase()%><%=data[i].attributes.semester.slice(1)%> <%=data[i].attributes.year%></span></td>
                                <!-- <td><%=data[i].attributes.semester%> - <%=data[i].attributes.year%></td> -->
                                <td>
                                    <% let concatenatedEmails = ''; %>
                                    <% for (let j = 0; j < data[i].attributes.faculties.data.length; j++) { %>
                                      <% const email = data[i].attributes.faculties.data[j].attributes.email; %>
                                      <% if (email && email.indexOf('_') === -1) { %>
                                        <% concatenatedEmails += email+ ` `; %>
                                      <% } %>
                                    <% } %>
                                    <%= concatenatedEmails.substring(0, 12) %><%= concatenatedEmails.length > 12 ? '...' : '' %>
                                  </td>
                                <td><%=data[i].attributes.semester.charAt(0).toUpperCase()%><%=data[i].attributes.semester.slice(1)%></td>
                                <td><%=data[i].attributes.year%></td>
                            </tr>
                           <%}%>
                          <%}%>
                      </tbody>
                      <tfoot>
                          <tr>
                            <th></th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Faculty</th>
                            <th>Semester</th>
                            <th>Year</th>
                          </tr>
                      </tfoot>
                  </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
  <script src="/platform/assets/js/main.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script> -->
  <script src="/platform/assets/js/dataTables.js"></script>
  <!-- <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script> -->
  <script>

    const semEl = document.querySelector('#sem');
    const yearEl = document.querySelector('#year');
    
    // Custom range filtering function
    DataTable.ext.search.push(function (settings, data, dataIndex) {
        let sem = semEl.value;
        let year = parseInt(yearEl.value, 10);
        let semdata = (data[4]) || 0;
        let yeardata = (data[5]) || 0;
        // console.log(year);
        if (
            (sem == "Filter by Semester" && isNaN(year)) ||
            (semdata.includes(sem) && isNaN(year)) ||
            (sem == "Filter by Semester" && yeardata.includes(year)) ||
            (semdata.includes(sem) && yeardata.includes(year))
        ) {
            // console.log(sem)
            return true;
        }
    
        return false;
    });
    
    const table = new DataTable('#example');

    
    // Set the placeholder for the search input
    $('#example_filter label').innerHTML=`<input type="search" class="" placeholder="" aria-controls="example">`;
    $('#example_filter label input').attr('placeholder', 'Search Course or Professor');

    // Changes to the inputs will trigger a redraw to update the table
    semEl.addEventListener('change', function () {
        table.draw();
    });
    yearEl.addEventListener('change', function () {
        table.draw();
    });
  </script>
  <!-- <%-include("../partials/preloader-js")%> -->
</body>

</html>