<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SG Platform</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<body>
    <%-include("../partials/preloader")%>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Create a New Ticket</h5>
                            <div class="card">
                                <div class="card-body">
                                    <!-- action="/platform/create-ticket" -->
                                    <form id="ticketForm" method="POST">
                                        <input name="email" type="hidden" class="form-control" id="userEmail" value="<%=userEmail%>">
                                        <div class="mb-3">
                                            <label for="newTicketTitle" class="form-label">Subject</label>
                                            <input required name="subject" type="title" class="form-control" id="newTicketTitle">
                                        </div>
                                        <div class="mb-3">
                                            <label for="newTicketBody" class="form-label">Ticket</label>
                                            <textarea required minlength="50" rows="5" name="ticket" class="form-control" id="newTicketBody"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Category of Ticket</label>
                                            <select required name="category" id="select-category" class="form-select">
                                                <option disabled selected>Select</option>
                                                <%for(var i=0;i<categoryList.length;i++){%>
                                                    <option><%=categoryList[i]%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Subcategory of Ticket</label>
                                            <select required name="subcategory" id="select-subcategory" class="form-select">
                                                <option disabled selected>Select</option>
                                                <%for(var i=0;i<subcategoryList.length;i++){%>
                                                    <option><%=subcategoryList[i]%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Ministries to Tag</label>
                                            <select required name="departments" id="select-departments" class="form-select" multiple size="<%=departments.length+1%>">
                                                <option disabled>Select</option>
                                                <%for(let i=0; i<departments.length;i++) { %>
                                                    <%if(departments[i].attributes.profile && departments[i].attributes.profile.data){%>
                                                    <option value="<%=departments[i].attributes.profile.data.attributes.email %>"><%=departments[i].attributes.name%></option>
                                                    <%}%>
                                                <%}%>
                                            </select>
                                            <p style="font-size:12px;color:grey;">hold the ctrl/cmd key to select multiple options</p>
                                        </div>
                                        <!-- <div class="mb-3 form-check">
                                            <input name="share" type="checkbox" class="form-check-input" id="shareDetails"
                                                aria-describedby="detailsHelp">
                                            <label class="form-check-label" for="exampleCheck1">Share My
                                                Details</label>
                                            <div id="detailsHelp" class="form-text">The reviewer does not by default know your details. Do you wish to disclose them?</div>
                                        </div> -->
                                        <button id="create-button" type="submit" class="btn btn-primary">Create Ticket</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    document.getElementById("ticketForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent the default form submission
    var form = event.target;
    var formData = new FormData(form);
    var body = {};
    formData.forEach(function(value, key){
        if (key === "departments") {
            var selectedOptions = Array.from(form.elements[key].selectedOptions);
            var emails = selectedOptions.map(option => option.value).join(",");
            body["_cc"] = emails;
        } else {
            body[key] = value;
        }
    });
    form.reset();
    document.getElementById("create-button").disabled = true;
        
    fetch("/platform/save-ticket-new", {
        method: "POST",
        headers: { 
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
        body: JSON.stringify(body),
    })
    .then(data => {
        // Display success message to the user
        alert("Form submitted successfully!");
        location.reload();
        document.getElementById("create-button").disabled = false;
    })
    .catch(error => {
        // Check if the request was aborted due to timeout
            alert("An error occurred while submitting the form. Please try again later.");
            console.error('There was an error with the fetch request:', error);
    });
});
    </script>
    <script>
    document.getElementById('select-category').addEventListener('change', function() {
        var selectedCategory = this.value;
        var subcategoryDropdown = document.getElementById('select-subcategory');

        // Reset subcategories dropdown
        for (var i = 0; i < subcategoryDropdown.options.length; i++) {
            subcategoryDropdown.options[i].style.display = 'none';
        }

        // Show subcategories based on the selected category
        var categorySubcategoriesMap = JSON.parse('<%-categorySubcategoryMap%>');

        if (categorySubcategoriesMap[selectedCategory]) {
            showSubcategories(categorySubcategoriesMap[selectedCategory]);
        } else {
            showAllSubcategories();
        }

        subcategoryDropdown.selectedIndex = 0;
        var ministriesDropdown = document.getElementById('select-departments');

        // Reset ministries dropdown
        for (var i = 0; i < ministriesDropdown.options.length; i++) {
            ministriesDropdown.options[i].selected = false;
        }
    });

    document.getElementById('select-subcategory').addEventListener('change', function() {
        var selectedSubcategory = this.value;
        var ministriesDropdown = document.getElementById('select-departments');

        // Reset ministries dropdown
        for (var i = 0; i < ministriesDropdown.options.length; i++) {
            ministriesDropdown.options[i].selected = false;
        }

        // Reset ministries dropdown
        // ministriesDropdown.selectedIndex = 0;

        // Map subcategories to ministries
        var subcategoryMinistriesMap = JSON.parse('<%-subcategoryMinistryMap%>');

        // Select ministries based on the selected subcategory
        if (subcategoryMinistriesMap[selectedSubcategory]) {
            selectMinistries(subcategoryMinistriesMap[selectedSubcategory]);
        }
    });


    function showSubcategories(subcategories) {
        var subcategoryDropdown = document.getElementById('select-subcategory');
        for (var i = 0; i < subcategoryDropdown.options.length; i++) {
            if (subcategories.includes(subcategoryDropdown.options[i].text)) {
                subcategoryDropdown.options[i].style.display = 'block';
            }
        }
    }

    function showAllSubcategories() {
        var subcategoryDropdown = document.getElementById('select-subcategory');
        for (var i = 0; i < subcategoryDropdown.options.length; i++) {
            subcategoryDropdown.options[i].style.display = 'block';
        }
    }

    function selectMinistries(ministries) {
        var ministriesDropdown = document.getElementById('select-departments');
        for (var i = 0; i < ministriesDropdown.options.length; i++) {
            if (ministries.includes(ministriesDropdown.options[i].text)) {
                ministriesDropdown.options[i].selected = true;
            } else {
                ministriesDropdown.options[i].selected = false;
            }
        }
    }
    </script>
    <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/platform/assets/js/sidebarmenu.js"></script>
    <script src="/platform/assets/js/app.min.js"></script>
    <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/platform/assets/js/dashboard.js"></script>
    <script src="/platform/assets/js/darkmode.js"></script>
    <script src="/platform/assets/js/copytext.js"></script>
    <%-include("../partials/preloader-js")%>
</body>

</html>