<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SG Platform</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<style>
    @media (max-width: 768px) {
        .comment-btn {
            margin: 10px 0 10px 0;
        }
    }

    .petition-details {

        text-align: center;
    }

    .victory-box {
        background-color: #eaeff4;
        /* Blue color similar to toofantalks.com */
        color: #000000;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    .supporters-count {
        font-size: 40px;
        font-weight: bold;
    }

    .comments-section {
        margin-top: 30px;
    }

    /* Custom CSS for comment boxes */
    .comment-container {
        display: flex;
        margin-bottom: 20px;
    }

    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }

    .comment-content {
        flex-grow: 1;
        background-color: #fff;
        /* Gray background */
        padding: 10px;
        border-radius: 5px;
    }

    .comment-name {
        font-weight: bold;
    }

    .comment-email {
        font-style: italic;
        color: #888;
    }

    .comment-text {
        margin-top: 5px;
    }

    .btn-sign {
        width: 160px;
        height: 40px;
        font-size: 15px;
        background-color: transparent;
        color: black;
    }
</style>

<body>
    <%-include("../partials/preloader")%>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="petition-details">
                                        <div class="victory-box">
                                            <!-- <h2 class="supporters-count"><%= petition.attributes.signatures.data.length %></h2>
                                            <p style="font-size: 25px;">Supporters</p> -->
                                            <h2 class="supporters-count"><%= petition.attributes.comments.data.length %></h2>
                                            <p style="font-size: 25px;">Contributors</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-4 card-title" style="margin-top:20px; font-size: 25px;"><%= petition.attributes.headline %></h3>
                                    <a href="#" class="card-link" style="margin-right: -20px;"><span
                                        class="badge bg-primary rounded-3 fw-semibold">Started By <%= petition.attributes.department.data.attributes.name %></span></a>
                                    <%if(petition.attributes.content){%>
                                    <div id="content" class="card-text">
                                        <%- petition.attributes.content.replace(/\n/g, '<br>') %>
                                        <a id="expand-rules" href="javascript:expand()">Read Competition Rules</a>
                                    </div>
                                    <%}%>
                                    <%if(petition.attributes.content2){%>
                                    <div style="display:none" id="content2" class="card-text">
                                        <%- petition.attributes.content2.replace(/\n/g, '<br>') %>
                                        <a id="collapse-rules" href="javascript:collapse()">Collapse Competition Rules</a>
                                    </div>
                                    <%}%>

                                    <!-- <% if (!signed) { %>
                                        <div style="text-align: center;">
                                            <button id="signButton" type="button" class="btn btn-primary m-1 btn-sign">Sign This Petition</button>
                                        </div>
                                    <% } %> -->
                                </div>
                            </div>
                            <!-- <div class="signature-list" style="margin-top: 15px;">
                                <h3 class="mb-4 card-title" style="margin-top:20px; font-size: 25px;">
                                    <%=petition.attributes.signatures.data.length%> Signature(s)
                                </h3>
                                <ul>
                                    <% (petition.attributes.signatures.data).forEach((signature, index) => { %>
                                        <li><%= signature.attributes.email %></li>
                                    <% }); %>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <h3>Comments</h3>
                    <div>
                        <form id="comment-form" class="row">
                            <input type="hidden" id="petitionId" value="<%= petition.id %>">
                            <div class="col-md-10">
                                <textarea value="abc" id="commentContent" class="form-control" style="background-color: white;" required></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary comment-btn">Comment</button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="mb-3 col-md-10">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" 
                                 placeholder="Add a Comment" style="height: 50px;">
                        </div> -->
                    <!-- <div class="col-md-2">
                            <button type="button" class="btn btn-primary m-1">Primary</button>
                        </div> -->

                    <p class="signature-count"><%= petition.attributes.comments.data.length %> comment(s)</p>
                    <% if(comments != 0) { %>
                        <% (comments).forEach((comment, index) => { %> 
                            <div class="comment-container">
                                <img class="comment-avatar" src="<%= comment.attributes.author.data.attributes.profile_url %>" alt="User 1">
                                <div class="comment-content">
                                    <p class="comment-name"><%- comment.attributes.author.data.attributes.username.substring(0,33) -%></p>
                                    <p class="comment-email"><%- comment.attributes.author.data.attributes.email.substring(0,33) -%></p>
                                    <p class="comment-text"><%- comment.attributes.comment -%></p>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- <div class="fab-container">
            <button
                style="box-shadow: 0px 3px 20px rgba(1, 41, 112, 0.5); width: 150px; height: 50px; font-size: 14.25px;"
                type="button" class="btn btn-primary m-1">
                Sign This Petition</button>
        </div> -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
              const commentForm = document.getElementById('comment-form');
            
              commentForm.addEventListener('submit', async function(e) {
                e.preventDefault();
            
                const petitionId = document.getElementById('petitionId').value;
                const commentContent = document.getElementById('commentContent').value;
                
                try {
                  const response = await fetch('/platform/create-comment', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      petitionId,
                      commentContent,
                    }),
                  });
            
                  if (response.status === 200) {
                    // Comment successfully created, you can handle the response or redirect
                    location.reload();
                    // window.location.href = '/petition/' + petitionId; // Redirect to the petition page
                  } else {
                    // Handle errors or show a message to the user
                    console.error('Comment creation failed.');
                  }
                } catch (error) {
                  console.error('An error occurred:', error);
                }
              });
            });
        </script>
        <script>
            function expand(){
                document.getElementById("content2").style.display="block";
                document.getElementById("expand-rules").style.display="none";
            }
            function collapse(){
                document.getElementById("content2").style.display="none";
                document.getElementById("expand-rules").style.display="block";
            }
        </script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
              const signButton = document.getElementById('signButton');
            
              signButton.addEventListener('click', async function() {
            
                const petitionId = "<%= petition.id %>";                
                try {
                    const signResponse = await fetch('/platform/sign-petition', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            petitionId,
                        }),
                    });

                    if (signResponse.status === 200) {
                        location.reload();
                    } else {
                        console.error('Sign petition failed.');
                    }
                } catch(error) {
                    console.log('An error occured:', error);
                }
              });
            });
        </script>
        <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/platform/assets/js/sidebarmenu.js"></script>
        <script src="/platform/assets/js/app.min.js"></script>
        <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
        <script src="/platform/assets/js/dashboard.js"></script>
        <script src="/platform/assets/js/darkmode.js"></script>
        <%-include("../partials/preloader-js")%>
</body>

</html>