<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SG Platform</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<body>
    <%-include("../partials/preloader")%>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Pool a Cab With a Fellow Ashokan</h5>
                            <div class="flex-row mb-3">
                                <ul class="list-inline">
                                  <span style="font-size: 10px;" class="fs-3 fw-semibold">
                                    In order to pool a cab with, fill out the form below with the details. You will then be able to connect to others who are also using the same service and find a person to pool a cab with from any of the available routes.                        
                                  </span>                                         
                                </ul>
                              </div>
                            <div class="card">
                                <div class="card-body">
                                    <form id="ticketForm" action="/platform/pool-submit" method="POST">
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Which Day to Pool on <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <select required name="day" id="select" class="form-select">
                                                <option disabled selected>Select</option>
                                                <% for (let i = 0; i < 5; i++) { %>
                                                    <%
                                                        const date = new Date();
                                                        date.setDate(date.getDate() + i);
                                                        const formattedDate = `${date.toLocaleString('en', { month: 'short' })} ${date.getDate()}, ${date.getFullYear()}`;
                                                        const month = String(date.getMonth() + 1).padStart(2, '0');
                                                        const day = String(date.getDate()).padStart(2, '0');
                                                        const year = date.getFullYear();
                                                        const value = `${month}/${day}/${year}`;
                                                    %>
                                                    <option value="<%= value %>"><%= formattedDate %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Which Route to Pool On <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <select required name="journey" id="select" class="form-select">
                                                <option disabled selected>Select</option>
                                                <!-- <option value="airport to campus">Airport to Campus</option> -->
                                                <!-- <option value="airport to jahangirpuri">Airport to Jahangirpuri</option> -->
                                                <!-- <option value="new delhi to jahangirpuri">New Delhi (Railway Station/Metro) to Jahangirpuri</option> -->
                                                <!-- <option value="jahangirpuri to campus">Jahangirpuri to Campus</option> -->
                                                <option value="campus to airport">Campus to Airport</option>
                                                
                                                <option value="campus to jahangirpuri">Campus to Jahangirpuri</option>

                                                <option value="campus to gurgaon">Campus to Gurgaon</option>

                                                <!-- <option value="new delhi to campus">New Delhi to Campus</option> -->
                                                <option value="campus to new delhi">Campus to New Delhi (Metro/Railway Station)</option>
                                                
                                                <option value="campus to nizamuddin">Campus to H. Nizamuddin</option>

                                                <!-- <option value="gurgaon to campus">Gurgaon to Campus</option> -->
                                                
                                                <option value="campus to jaipur">Campus to Jaipur</option>
                                                <option value="campus to chandigarh">Campus to Chandigarh</option>
                                                <option value="campus to ludhiana">Campus to Ludhiana</option>
                                                <option value="campus to agra">Campus to Agra</option>
                                                <option value="campus to noida">Campus to Noida</option>
                                                <option value="campus to ghaziabad">Campus to Ghaziabad</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="newTicketTitle" class="form-label">Enter Time When You Want to Pool At <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <p>Please check the appropriate 24 hour/12 hour time format before submitting</p>
                                            <input required name="time" type="time" class="form-control" id="time">
                                        </div>
                                        <div class="mb-3">
                                            <label for="newTicketTitle" class="form-label">Enter Your Contact Number <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <input required name="phone" type="text" class="form-control" id="phoneNumber">
                                        </div>
                                        <button onclick="disableButton()" id="submit-button" type="submit" class="btn btn-primary">Pool a Cab</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function disableButton(){
            document.getElementById("submit-button").disabled=true;
            document.getElementById("ticketForm").submit();
        }
    </script>
    <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/platform/assets/js/sidebarmenu.js"></script>
    <script src="/platform/assets/js/app.min.js"></script>
    <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/platform/assets/js/dashboard.js"></script>
    <script src="/platform/assets/js/darkmode.js"></script>
    <script src="/platform/assets/js/copytext.js"></script>
    <%-include("../partials/preloader-js")%>
</body>

</html>