<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SG Platform</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<body>
    <%-include("../partials/preloader")%>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Pool a Cab With a Fellow Ashokan</h5>
                            <div class="flex-row mb-3">
                                <ul class="list-inline">
                                  <span style="font-size: 10px;" class="fs-3 fw-semibold">
                                    In order to pool a cab with, fill out the form below with the details. You will then be able to connect to others who are also using the same service and find a person to pool a cab with from any of the available routes.                        
                                  </span>                                         
                                </ul>
                              </div>
                            <div class="card">
                                <div class="card-body">
                                    <form id="ticketForm" action="/platform/pool-submit" method="POST">
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Which Day to Pool on <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <select required name="day" id="select" class="form-select">
                                                <option disabled selected>Select</option>
                                                <option value = "01/19/2024">Jan 19</option>
                                                <option value = "01/20/2024">Jan 20</option>
                                                <option value = "01/21/2024">Jan 21</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="select" class="form-label">Select Which Route to Pool On <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <select required name="journey" id="select" class="form-select">
                                                <option disabled selected>Select</option>
                                                <option value="airport to campus">Airport to Campus</option>
                                                <option value="airport to jahangirpuri">Airport to Jahangirpuri</option>
                                                <option value="jahangirpuri to campus">Jahangirpuri to Campus</option>
                                                <option value="new delhi to campus">New Delhi (Railway Station/Metro) to Campus</option>
                                                <option value="new delhi to jahangirpuri">New Delhi (Railway Station/Metro) to Jahangirpuri</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="newTicketTitle" class="form-label">Enter Time When You Want to Pool At <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <input required name="time" type="time" class="form-control" id="time">
                                        </div>
                                        <div class="mb-3">
                                            <label for="newTicketTitle" class="form-label">Enter Your Contact Number <span style="color:rgb(177, 58, 58)">*</span></label>
                                            <input required name="phone" type="text" class="form-control" id="phoneNumber">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Pool a Cab</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/platform/assets/js/sidebarmenu.js"></script>
    <script src="/platform/assets/js/app.min.js"></script>
    <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/platform/assets/js/dashboard.js"></script>
    <script src="/platform/assets/js/darkmode.js"></script>
    <script src="/platform/assets/js/copytext.js"></script>
    <%-include("../partials/preloader-js")%>
</body>

</html>