<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SG Platform</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link rel="stylesheet" href="/platform/assets/css/dataTables.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <style>
    @media screen and (max-width: 768px) {
      .scroll {
        display: block;
        overflow-x: auto;
      }
      .upper {
        margin-bottom: 5px;
      }
    }
  </style>
  <%-include("../partials/preloader-css")%>
  <%-include("../partials/preloader-js")%>

</head>
<%-include("../partials/post-head")%>

<script>
    function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
</script>

<body>
  <!--  Body Wrapper -->
  <%-include("../partials/preloader")%>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flex-row mb-2">
                      <span class="fs-6 fw-semibold">Pool a Cab</span>
                    </div>
                    <div class="flex-row mb-3">
                      <ul class="list-inline">
                        <span style="font-size: 10px;" class="fs-3 fw-semibold">
                          Click on the WhatsApp icon to message the person. <br /><br />Below is the list of all people using the service. Please find a person closest to your arrival time and route, and reach out to them using their contact details. Please make sure that they're avaiable for pooling under the status bar before contacting them.
                        </span>                                         
                      </ul>
                    </div>
                    <br>
                    <!-- <table class="inputs">
                      <tbody>
                        <tr>
                          <td>Filter by Semester:</td>
                          <td><input type="text" id="sem" name="sem"></td>
                        </tr>
                        <tr>
                          <td>Filter by Year:</td>
                          <td><input type="text" id="max" name="max"></td>
                        </tr>
                      </tbody>
                    </table> -->
                    <form>
                      <div class="row">
                        <div class="col-lg-6">
                          <select class="form-select" id="day" name="day">
                            <option selected>Filter by Day</option>
                            <% for (let i = 0; i < 5; i++) { %>
                              <%
                                  const date = new Date();
                                  date.setDate(date.getDate() + i);
                                  const formattedDate = `${date.toLocaleString('en', { month: 'short' })} ${String(date.getDate()).padStart(2, '0')}`;
                                  const userDate = new Date(user_detail.day);
                                  const userFormattedDate = `${userDate.toLocaleString('en', { month: 'short' })} ${String(userDate.getDate()).padStart(2, '0')}`;
                              %>
                              <!-- <%if(userFormattedDate == formattedDate){%>
                                <option selected value="<%= formattedDate %>"><%= formattedDate %></option>
                              <%}else{%>
                                <option value="<%= formattedDate %>"><%= formattedDate %></option>
                              <%}%> -->
                              
                              <option value="<%= formattedDate %>"><%= formattedDate %></option>
                          <% } %>
                          </select>
                        </div>
                        <% console.log %>
                        <div class="col-lg-6">
                          <select class="form-select" id="route" name="route">
                            <option>Filter by Route</option>
                                                <option value="Campus to Airport(T1)">Campus to Airport(T1)</option>
                                                <option value="Campus to Airport(T2)">Campus to Airport(T2)</option>
                                                <option value="Campus to Airport(T3)">Campus to Airport(T3)</option>
                                                <option value="Campus to Jahangirpuri">Campus to Jahangirpuri</option>
                                                <option value="Campus to Gurgaon">Campus to Gurgaon</option>
                                                <option value="Campus to New Delhi">Campus to New Delhi (Metro/Railway Station)</option>
                                                <option value="Campus to Nizamuddin">Campus to H. Nizamuddin</option>                                                
                                                <option value="Campus to Jaipur">Campus to Jaipur</option>
                                                <option value="Campus to Chandigarh">Campus to Chandigarh</option>
                                                <option value="Campus to Ludhiana">Campus to Ludhiana</option>
                                                <option value="Campus to Agra">Campus to Agra</option>
                                                <option value="Campus to Noida">Campus to Noida</option>
                                                <option value="Campus to Ghaziabad">Campus to Ghaziabad</option>


                                                <!-- <option value="Airport to Campus">Airport to Campus</option>
                                                <option value="Airport(T1) to Campus">Airport(T1) to Campus</option>
                                                <option value="Airport(T2) to Campus">Airport(T2) to Campus</option>
                                                <option value="Airport(T3) to Campus">Airport(T3) to Campus</option>
                                                <option value="Jahangirpuri to Campus">Jahangirpuri to Campus</option>
                                                <option value="Gurgaon to Campus">Gurgaon to Campus</option>
                                                <option value="New Delhi to Campus">New Delhi (Metro/Railway Station) to Campus</option>
                                                <option value="Nizamuddin to Campus">H. Nizamuddin to Campus</option>
                                                <option value="Jaipur to Campus">Jaipur to Campus</option>
                                                <option value="Chandigarh to Campus">Chandigarh to Campus</option>
                                                <option value="Ludhiana to Campus">Ludhiana to Campus</option>
                                                <option value="Agra to Campus">Agra to Campus</option>
                                                <option value="Noida to Campus">Noida to Campus</option>
                                                <option value="Ghaziabad to Campus">Ghaziabad to Campus</option> -->
                          </select>
                          <script>
                            function selectMatchingOption() {
                              var selectElement = document.getElementById('route');
                              var matchValue = '<%=user_detail.journey.replace(/\b(?:(?!to)\w)/g, match => match.toUpperCase())%>';
                              for (var i = 0; i < selectElement.options.length; i++) {
                                  var option = selectElement.options[i];
                                  if (option.value === matchValue) {
                                      option.selected = true;
                                      break;
                                  }
                              }
                            }
                            // selectMatchingOption();
                          </script>
                        </div>
                      </div>
                    </form>
                    <br />
                    <table id="pool" class="table table-striped scroll" style="width:100%">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Contact</th>
                              <th>Time</th>
                              <th>Route</th>
                              <th>Day</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        <%for(i=0;i<pools.length;i++){%>
                          <%if(pools[i].attributes.status == 'available'){%>
                            <tr>
                              <td>
                                <a href="https://wa.me/91<%-pools[i].attributes.pooler.data.attributes.phone%>?text=<%=encodeURIComponent('Hi ' + pools[i].attributes.pooler.data.attributes.username.substring(0, pools[i].attributes.pooler.data.attributes.username.indexOf(' ')) + ', I\'m looking to share a cab on ' + new Date(pools[i].attributes.day).toString().slice(0,10) + ' from '+pools[i].attributes.journey.replace(/\b(?:(?!to)\w)/g, match => match.toUpperCase())+'. Are you interested?')%>">
                                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                    <path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path><path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path><path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"></path><path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path><path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path>
                                    </svg>
                                </a> 
                              </td>
                              <td>
                                <%=pools[i].attributes.pooler.data.attributes.username%></td>
                              <td>
                                <%=pools[i].attributes.pooler.data.attributes.phone%>
                              </td>
                              <td><%=new Date('1970-01-01T' + pools[i].attributes.time).toLocaleTimeString('en-US', { hour12: true }) %></td>
                              <td>
                                <%let route = pools[i].attributes.journey;%>
                                <%let temp = route.split(" ");%>
                                <%temp[0] = temp[0].charAt(0).toUpperCase() + temp[0].slice(1);%>
                                <%temp[2] = temp[2].charAt(0).toUpperCase() + temp[2].slice(1);%>
                                <%route = temp.join(" ");%>
                                <%=route%>                              
                              </td>
                              <td>
                                <%let date = new Date(pools[i].attributes.day);%>
                                <%date = date.toString();%>
                                <%date = date.slice(3,10);%>
                                <%=date%>
                              </td>
                              <td><%=pools[i].attributes.status.charAt(0).toUpperCase() + pools[i].attributes.status.slice(1)%></td>
                            </tr>
                          <%} else if(pools[i].attributes.status == 'pooled'){%>
                            <tr style="opacity:0.5;">
                              <td>
                                <svg style="opacity:0.3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22" viewBox="0 0 48 48">
                                  <path d="M24,4C12.97,4,4,12.97,4,24c0,3.19,0.77,6.34,2.23,9.17l-2.14,7.66c-0.24,0.87,0.01,1.8,0.64,2.44 C5.21,43.74,5.85,44,6.5,44c0.23,0,0.45-0.03,0.67-0.09l7.66-2.14C17.66,43.23,20.82,44,24,44c11.03,0,20-8.97,20-20 C44,12.97,35.03,4,24,4z M34.36,31.37c-0.44,1.23-2.6,2.42-3.57,2.51c-0.97,0.09-1.88,0.44-6.34-1.32 c-5.38-2.12-8.78-7.63-9.04-7.99c-0.27-0.35-2.16-2.86-2.16-5.47c0-2.6,1.37-3.88,1.85-4.41c0.49-0.53,1.06-0.66,1.41-0.66 c0.36,0,0.71,0,1.02,0.01c0.37,0.02,0.79,0.04,1.19,0.92c0.47,1.04,1.5,3.66,1.63,3.93c0.13,0.26,0.22,0.57,0.04,0.92 c-0.17,0.35-0.26,0.57-0.53,0.88c-0.26,0.31-0.55,0.69-0.79,0.93c-0.26,0.26-0.54,0.55-0.23,1.08c0.31,0.53,1.37,2.26,2.94,3.66 c2.02,1.8,3.72,2.36,4.25,2.63c0.53,0.26,0.84,0.22,1.15-0.14c0.31-0.35,1.32-1.54,1.68-2.07c0.35-0.53,0.7-0.44,1.19-0.26 c0.48,0.17,3.08,1.45,3.61,1.72c0.53,0.26,0.88,0.39,1.01,0.61C34.8,29.07,34.8,30.13,34.36,31.37z"></path>
                                </svg>
                              </td>
                              <td><%=pools[i].attributes.pooler.data.attributes.username%></td>
                              <td><%=pools[i].attributes.pooler.data.attributes.phone%></td>
                              <td><%=new Date('1970-01-01T' + pools[i].attributes.time).toLocaleTimeString('en-US', { hour12: true }) %>
                                </td>
                              <td>
                                <%let route = pools[i].attributes.journey;%>
                                <%let temp = route.split(" ");%>
                                <%temp[0] = temp[0].charAt(0).toUpperCase() + temp[0].slice(1);%>
                                <%temp[2] = temp[2].charAt(0).toUpperCase() + temp[2].slice(1);%>
                                <%route = temp.join(" ");%>
                                <%=route%>
                              </td>
                              <td>
                                <%let date = new Date(pools[i].attributes.day);%>
                                <%date = date.toString();%>
                                <%date = date.slice(3,10);%>
                                <%=date%>
                              </td>
                              <td><%=pools[i].attributes.status.charAt(0).toUpperCase() + pools[i].attributes.status.slice(1)%></td>
                            </tr>
                          <%}%>
                        <%}%>                      
                      </tbody>
                      <tfoot>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Contact</th>
                              <th>Time</th>
                              <th>Route</th>
                              <th>Day</th>
                              <th>Status</th>
                          </tr>
                      </tfoot>
                  </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="flex-row mb-2">
                        <span class="fs-6 fw-semibold">Trip Details:</span>
                      </div>
                      <div class="flex-row mb-3">
                        <ul class="list-inline">
                          <span style="font-size: 10px;" class="fs-3 fw-semibold">
                            If you found a person to pool a cab with, or wish to change your estimated time of arrival then please use the below section to update your details so that others can contact you for the right trips                           
                          </span>                                         
                        </ul>
                      </div>
                      <br>
                      <form action="/platform/update-pool" method="POST">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="form-label">Date</label>
                              <%let user_date = new Date(user_detail.day);%>
                              <%user_date = user_date.toString();%>
                              <%user_date = user_date.slice(3,10);%>
                              <input disabled class="form-control" type="text" value="<%=user_date%>">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="form-label">Route</label>
                              <input disabled class="form-control" type="text" value="<%=user_detail.journey.replace(/\b(?:(?!to)\w)/g, match => match.toUpperCase())%>">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="form-label">Time</label>
                              <input class="form-control" name="time" type="time" value="<%=user_detail.time.substr(0, user_detail.time.lastIndexOf(':'))%>">
                              <label for="time">If you wish to change the time of your trip, please select your new time here and click 'Update My Time' button below</label>
                              <input class="form-control" name="pool_id" type="hidden" value="<%-btoa(user_detail.id)%>">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label class="form-label">Status</label>
                              <select class="form-select" id="status" name="status" aria-placeholder="<%=user_detail.status.charAt(0).toUpperCase() + user_detail.status.slice(1)%>">
                                <option value="available" <%= user_detail.status === 'available' ? 'selected' : '' %>>Available</option>
                                <option value="pooled" <%= user_detail.status === 'pooled' ? 'selected' : '' %>>Pooled</option>                              
                              </select>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row" style="float: right;">
                          <div style="text-align: center;" class="col-md-12">
                            <button onclick="changeStatusAndClickUpdateButton()" class="btn btn-success upper">Found a Cab Pool</button>
                            <button id="update" type="submit" class="btn btn-primary upper">Update My Time</button>
                            <a href="/platform/cancel-cab-pool" class="btn btn-danger">Cancel My Request</a>
                          </div>
                        </div>
                      </form>
                      <br />
                      
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
  <script src="/platform/assets/js/main.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script> -->
  <script src="/platform/assets/js/dataTables.js"></script>
  <!-- <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script> -->
  <script>
    const dayEl = document.querySelector('#day');
    const routeEl = document.querySelector('#route');
    
    // Custom range filtering function
    DataTable.ext.search.push(function (settings, data, dataIndex) {
        let day = dayEl.value;
        let route = routeEl.value;
        let daydata = (data[5]) || 0;
        let routedata = (data[4]) || 0;
        // console.log(year);
        if (
            (day == "Filter by Day" && route == "Filter by Route") ||
            (daydata.includes(day) && route == "Filter by Route") ||
            (day == "Filter by Day" && routedata.includes(route)) ||
            (daydata.includes(day) && routedata.includes(route))
        ) {
            // console.log(sem)
            return true;
        }
    
        return false;
    });
    
    const table = new DataTable('#pool');
    
    // Changes to the inputs will trigger a redraw to update the table
    dayEl.addEventListener('change', function () {
        table.draw();
    });
    routeEl.addEventListener('change', function () {
        table.draw();
    });
  </script>
  <script>
    function changeStatusAndClickUpdateButton(){
      document.getElementById("status").value="pooled";
      document.getElementById("update").click();
    }
  </script>
  <!-- <%-include("../partials/preloader-js")%> -->
</body>

</html>