<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <%-include("../partials/preloader-css")%>
</head>

<body>
  <%-include("../partials/preloader")%>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <section class="py-4">
            <div class="container">
             
            <div class="row g-4">
              <!-- Profile cover and info START -->
              <div class="col-12">
                <div class="card mb-4 position-relative z-index-9">
                  <!-- Cover image -->
                  <div class="py-5 h-200 rounded" style="background-image:url(assets/images/blog/16by9/big/07.jpg); background-position: center bottom; background-size: cover; background-repeat: no-repeat;">
                  </div>
                  <div class="card-body pt-3 pb-0">
                    <div class="row d-flex justify-content-between">
                      <!-- Avatar -->
                      <div class="col-sm-6 col-md-auto text-center text-md-start">
                        <div class="avatar avatar-xxl mt-n5">
                          <img class="avatar-img rounded-circle border border-white border-3 shadow" src="<%=user.profile_url%>" alt="">
                        </div>
                      </div>
                      <!-- Profile info -->
                      <div class="col-sm-12 col-md text-center text-md-start d-md-flex justify-content-between align-items-center">
                        <div>
                          <h4 class="my-1"><%=user.username%> <i class="bi bi-patch-check-fill text-info small"></i></h4>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="bi bi-person-fill me-1"></i> <%=user.type%></li>
                            <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> Ashoka University</li>
                            <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i>Joined <%-new Date(user.createdAt).toLocaleString()-%></li>
                          </ul>
                          <p class="m-0"></p>
                        </div>
                        <!-- Links -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Profile info END -->
            </div>
        
            <div class="row g-4">
              <!-- Left sidebar START -->
              <div class="col-lg-7 col-xxl-8">
                <!-- Profile START -->
                <div class="card border mb-4">
                  <div class="card-header border-bottom p-3">
                    <h5 class="card-header-title mb-0">Profile</h5>
                  </div>
                  <div class="card-body">
                    <!-- Username -->
                    <div class="mb-3">
                      <label class="form-label">Username</label>
                      <div class="input-group">
                        <span class="input-group-text">sg.ashoka.edu.in</span>
                        <input disabled type="text" class="form-control" value="<%=user.username%>">
                      </div>
                    </div>
                    
                    <!-- Job title -->
                    <div class="mb-3">
                      <label class="form-label">Batch</label>
                      <input disabled class="form-control" type="text" value="<%=user.batch%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Confirmed</label>
                      <input disabled class="form-control" type="text" value="<%=user.confirmed%>">
                    </div>
                   
                    <!-- Save button -->
                    <!-- <div class="d-flex justify-content-end mt-4">
                      <a href="#" class="btn text-secondary border-0 me-2">Discard</a>
                      <a href="#" class="btn btn-primary">Save changes</a>
                    </div> -->
                  </div>
                </div>
                <!-- Profile END -->
        
                <!-- Personal information START -->
                <div class="card border mb-4">
                  <div class="card-header border-bottom p-3">
                    <h5 class="card-header-title mb-0">Personal information</h5>
                  </div>
                  <div class="card-body">
                    <!-- Skype -->
                    <div class="mb-3">
                      <label class="form-label">Pronouns</label>
                      <input disabled class="form-control" type="text" value="<%=user.pronouns%>">
                    </div>
                    <!-- Email -->
                    <div class="mb-3">
                      <label class="form-label">Major</label>
                      <input disabled class="form-control" type="text" value="<%=user.major%>">
                    </div>
                    <!-- Address -->
                    <div class="mb-3">
                      <label class="form-label">Minor</label>
                      <input disabled class="form-control" type="text" value="<%=user.minor%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Concentration</label>
                      <input disabled class="form-control" type="text" value="<%=user.concentration%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">RH</label>
                      <input disabled class="form-control" type="text" value="<%=user.RH%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Floor</label>
                      <input disabled class="form-control" type="text" value="<%=user.floor%>">
                    </div>
                    <!-- Save button -->
                    <div class="d-flex justify-content-end mt-4">
                      <button disabled class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
                <!-- Personal information END -->
        
               
        
                <!-- Update password START -->
              </div>
              <!-- Left sidebar END -->
        
              <!-- Right sidebar START -->
              <div class="col-lg-5 col-xxl-4">
                <!-- Profile Setting START -->
        
                <!-- Deactivate account START -->
                <div class="card border mb-4">
                  <div class="card-header border-bottom p-3">
                    <h5 class="card-header-title mb-0">Deactivate Account</h5>
                  </div>
                  <div class="card-body">
                    <h6>Before you go...</h6>
                    <ul>
                      <li>Take backup of your data</li>
                      <li>Account deletion is final. There will be no way to restore your account</li>
                    </ul>
                    <div class="form-check form-check-md my-3">
                      <input disabled class="form-check-input" type="checkbox" value="" id="deleteaccountCheck">
                      <label class="form-check-label" for="deleteaccountCheck">Yes, I'd really like to delete my account</label>
                    </div>
                    <a class="btn btn-success-soft my-1">Keep my account</a>
                    <button disabled class="btn btn-danger my-1">Delete my account</button>
                  </div>
                </div>
                <!-- Deactivate account START -->
                <p><i class="bi bi-info-circle me-2"></i>This account was created on Jan 15, 2018</p>
        
                <div class="card bg-transparent border rounded-3 mt-4">
                  <!-- Card header -->
                  <div class="card-header bg-transparent border-bottom p-3">
                    <h5 class="card-header-title mb-0">Linked account</h5>
                  </div>
                  <!-- Card body START -->
                  <div class="card-body">
                    <!-- Google -->
                    <div class="position-relative mb-3 mt-3 d-sm-flex bg-success bg-opacity-10 border border-success p-3 rounded">
                      <!-- Title and content -->
                      <h2 class="fs-1 mb-0 me-3"><i class="fab fa-google text-google-icon"></i></h2>
                      <div>
                        <div class="position-absolute top-0 start-100 translate-middle bg-white rounded-circle lh-1 h-15">
                          <i class="bi bi-check-circle-fill text-success fs-5"></i>
                        </div>
                          <h6 class="mb-1">Google</h6>
                          <p class="mb-1 small">You are successfully connected to your Google account</p>
                          <!-- Button -->
                          <button type="button" disabled class="btn btn-sm btn-danger mb-0 me-2">Invoke</button>
                          <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
                      </div>
                    </div>
        
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
            </div>
            </div>
        </section>
      </div>
    </div>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
  <%-include("../partials/preloader-js")%>
</body>

</html>