<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SG Platform</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<style>
    #divLink {
        cursor: pointer;
    }

    @media (max-width: 768px) {}

    /* Media query for screens between 768px and 1024px */
    @media (min-width: 769px) and (max-width: 1024px) {
        .img-div {
            padding-right: 0px;
        }

        .cont-div {
            padding-left: 0px;
        }
    }

    /* Media query for screens larger than 1024px */
    @media (min-width: 1025px) {
        .img-div {
            padding-right: 0px;
        }

        .cont-div {
            padding-left: 0px;
        }
    }
</style>

<body>
    <%-include("../partials/preloader")%>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid" style="padding-top: 40px;">
                    <% (petitions.data).forEach((petition, index) => { %>
                        <div class="card col-md-12">
                            <div class="card-body" id="divLink" onclick="openPetition('<%=petition.id%>')">
                                <div class="row">
                                    <div class="col-md-4 img-div">
                                        <img width="100%" height="100%" src="https://fastly.picsum.photos/id/8/5000/3333.jpg?hmac=OeG5ufhPYQBd6Rx1TAldAuF92lhCzAhKQKttGfawWuA" alt="" srcset="">
                                    </div>
                                    <div class="col-md-8 cont-div">
                                        <div class="card" style="background-color: #eaeff4; height: 100%;">
                                            <div class="card-body" style="height: fit-content;">
                                                <div>
    
                                                </div>
                                                <h5 class="card-title"><%= petition.attributes.headline %></h5>
                                                <!-- <h6 class="card-subtitle mb-2 text-muted">Created By X</h6> -->
                                                <h6 class="card-subtitle mb-2 text-muted">Date Created: <b><%= Date(petition.attributes.createdAt).substring(3,15) %></b></h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Number of Signatures: <%= petition.attributes.signatures.data.length %></h6>
                                                <p class="card-text" style="padding-top: 15px; padding-bottom: 15px;"><%= petition.attributes.description %></p>
    
                                                <a href="" class="card-link" style="margin-right: -20px;"><span
                                                        class="badge bg-primary rounded-3 fw-semibold">Started By: <%=petition.attributes.department.data.attributes.name%></span></a>
    
                                                
                                                <!-- <div style="width: 100%; text-align: left; margin-top: 15px; "><a href="./individual-petition.html" class="btn btn-primary m-1">View Petition</a></div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>    
                </div>
            </div>
        </div>
    </div>
    <script>


        function openPetition(id) {
            window.location.href = `/platform/public-forum/${id}`;
        }
    </script>

    <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/platform/assets/js/sidebarmenu.js"></script>
    <script src="/platform/assets/js/app.min.js"></script>
    <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/platform/assets/js/dashboard.js"></script>
    <script src="/platform/assets/js/darkmode.js"></script>
    <script src="/platform/assets/js/theme.js"></script>
    <%-include("../partials/preloader-js")%>
</body>

</html>