<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SG Platform</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="stylesheet" href="/platform/assets/css/datatables.css" />

    <style>
      .card {
          border: 1px solid #ddd;
          padding: 10px;
          margin: 5px;
      }
      .card.hidden {
          display: none;
      }
      .table td {
    white-space: normal; /* Allow text to wrap */
    word-break: break-word; /* Break long words onto the next line */
    overflow-wrap: break-word; /* Ensure long words break */
}
#heading-sop{
  font-size: 3rem;
}

@media only screen and (max-width: 400px) {
  #heading-sop{
  font-size: 1.5rem;
}
        }
        @media only screen and (max-width: 350px) {
          #heading-sop{
  font-size: 1rem;
}
        }
  </style>
  <%-include("../partials/preloader-css")%>
</head>
<%-include("../partials/post-head")%>

<body>
  <%-include("../partials/preloader")%>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    
    <%-include("../partials/sidebar")%>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <div style="border-radius: 8px;background-image: url('/website/assets/img/sport.jpeg');width:100%;height: 400px;background-size: cover;background-attachment: fixed;">
        <div class="row">
          <div class="mb-4">
            <h4 style="color:white" class="my-1 mb-2"></h4>
            <div style="color:white" class="timeline-desc fs-3 mt-n1 mb-2"></div>
            <!-- <a href="./index.html" class="d-block">Link to Site Tour</a> -->
          </div>
        </div>
        <!--  Row 1 -->
        <div style="margin-top:100px;margin-right:0px;margin-left:-5px" class="row">
          <div class="col-lg-8 d-flex align-items-stretch card" style="padding: 0px;">
            <div class="text-center bg-image">
              <div style="border-radius:8px;background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
                <div class="d-flex justify-content-center align-items-center h-100">
                 <span id="heading-sop" style="color: white;">Welcome to Sopaan!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    

      </div>
      <div class="py-6 px-6 text-center">
        <p class="mb-0 fs-4"><b>Event By Jazbaa (Cultural Ministry), Engineered by Ministry of Technology</b></p><br />
        <img
          src="/platform/assets/images/logos/jazbaa.png"
          alt=""
          width="100"
          height="100"
          class="rounded-circle"
        />
        <img
          src="/platform/assets/images/logos/techmin_logo.png"
          alt=""
          width="100"
          height="100"
          class="rounded-circle"
        />
      </div>
      <div style="text-align:center;">
        <span style="margin:10px;font-size:16px;;color: white;background-color: rgba(0, 0, 0, 0.6);">Simply visiting this page (logging in with google) gets you registered for Sopaan. There is no additional step to do, so long as your name is in the registration list below. Please confirm, or reach out to technology.ministry@ashoka.edu.in in case your name does not show up. Thank you.</span>
      </div>
      <div style="text-align:center;margin:30px;padding:20px;background:white">
        <p style="font-size:21px;">Sopaan Registration List</p>
        <table style="overflow:hidden" id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody style="overflow-x:scroll">
                <% for (var i = 0; i < users.length; i++) { %>
                    <tr>
                        <td>
                            <img src="<%= users[i].profile_url %>" class="img-fluid rounded-circle" style="width: 40px; height: 40px;" alt="Profile Picture">
                        </td>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].email.substring(0,25)%>...</td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th>Profile Picture</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </tfoot>
        </table>
      </div></div></div>
      <div>
        Hello
      </div>
      </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/js/dataTables.js"></script>
  <script>

// const nameEl = document.querySelector('#name');
// const emailEl = document.querySelector('#email');

// // Custom range filtering function
// $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
//     let nameFilter = nameEl.value.trim().toLowerCase();
//     let emailFilter = emailEl.value.trim().toLowerCase();

//     // Get the data for the relevant columns
//     let nameData = (data[1] || "").toLowerCase(); // Assuming name is in the second column
//     let emailData = (data[2] || "").toLowerCase(); // Assuming email is in the third column

//     // Check if nameData matches the nameFilter
//     let nameMatch = nameFilter === "" || nameData.includes(nameFilter);

//     // Check if emailData matches the emailFilter
//     let emailMatch = emailFilter === "" || emailData.includes(emailFilter);

//     // Return true if both matches are true, otherwise false
//     return nameMatch && emailMatch;
// });

    const table = new DataTable('#example');

    
    // Set the placeholder for the search input
    $('#example_filter label').innerHTML=`<input type="search" class="" placeholder="" aria-controls="example">`;
    $('#example_filter label input').attr('placeholder', 'Search User');


  </script>


  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/darkmode.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
  <%-include("../partials/preloader-js")%>
</body>

</html>