<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <%for(var i=0;i<tickets.length;i++){%>
            <div style="cursor: pointer" onclick="location.href='/platform/tickets/<%=tickets[i].id%>';" class="card sg-ticket">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flex-row mb-2">
                      <span class="fs-6 fw-semibold"><%=tickets[i].subject%></span>
                      <span class="badge badge-pill rounded-5 bg-<%-tickets[i].status==`pending`?`warning`:`success`-%> m-1"><%=tickets[i].status%></span>
                    </div>
                    <div class="flex-row">
                      <ul class="list-inline">
                        <span style="font-size: 10px;" class="fs-3 text-dark fw-semibold">
                           Created At: <%= Date(tickets[i].createdAt).substring(3,15) %> 
                        </span>                                              
                      </ul>
                    </div>
                    <div class="card" style="background-color: #eaeff4;">
                      <div class="card-body">
                        <h5 class="card-title"><%=tickets[i].category%></h5>
                        <br>
                        <p class="card-text"><%=tickets[i].ticket.substring(0,200)%></p>
                        
                        <a href="#" class="card-link"><span
                            class="badge bg-primary rounded-3 fw-semibold">OAA</span>
                        </a>

                      </div>
                    </div>
                    <div class="flex-row mb-3">
                      <span class="fs-3 text-dark fw-semibold">Ticket ID:</span>
                      <span class="fs-3 text-dark fw-semibold" id="ticketID">#<%=tickets[i].id%></span>
                      <i onclick="copyTxt()" class="ti ti-copy"></i>
                      <span style="float: right;" class="fs-3 text-dark fw-semibold">
                        Last Updated: <%- Date(tickets[i].updatedAt).substring(3,15) -%> 
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%}%>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="fab-container">
    <button style="box-shadow: 0px 3px 20px rgba(1, 41, 112, 0.5);" type="button" 
    onclick="location.href='/platform/create-ticket'" class="btn btn-primary m-1"><i
        class="ti ti-circle-plus"></i> New Ticket</button>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
</body>

</html>