<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SG Platform</title>
  <link rel="shortcut icon" type="image/png" href="/organisation/assets/images/logos/favicon.png" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS (for modals) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="/organisation/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link rel="stylesheet" href="/organisation/assets/css/dataTables.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <%-include("../partials/preloader-css")%>

  <style>
    .responsive-h2 {
      font-size: 3.5rem;
    }

    /* Responsive Paragraph */
    .responsive-p {
      font-size: 1.2rem;
    }

    /* Media Queries for smaller screens */
    @media (max-width: 1200px) {
      .responsive-h2 {
        font-size: 3rem;
      }
      .responsive-p {
        font-size: 1rem;
      }
    }

    @media (max-width: 768px) {
      .responsive-h2 {
        font-size: 2.5rem;
      }
      .responsive-p {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 576px) {
      .responsive-h2 {
        font-size: 2rem;
      }
      .responsive-p {
        font-size: 0.8rem;
      }
    }
  </style>
</head>
<%-include("../partials/post-head")%>

<body>
  <%-include("../partials/preloader")%>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    
    <%-include("../partials/sidebar")%>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <div class="row">
          <div class="mb-4">
            <h4 class="my-1 mb-2" style="font-size: 2rem;">Student Government Platform</h4><br />
            <h5 class="my-1 mb-2" style="font-size: 1.5rem;">Welcome <%= name %>!</h5><br />
            <div class="timeline-desc fs-4 text-dark mt-n1 mb-2">This is the organisation platform built for organisations at Ashoka to manage their catalogue listing, inductions tracker, events calendar and much more. We hope this helps your organisation grow and manage work more efficiently.</div>
            <div class="row">
              <div class="col-12">
                <h5 class="my-3" style="font-size: 1.3rem;">New Release</h5>
                <div class="row">
                  <!-- <div style="width: 50%;">
                    <a href="/organisation/wifi-ticket" class="text-decoration-none text-dark">
                      <div class="card h-80" style="height: 80%;">
                        <div class="card-body d-flex flex-column">
                          <div class="d-flex align-items-center flex-column flex-sm-row text-center text-sm-start">
                            <i class="fa fa-wifi fa-2x mb-2 mb-sm-0 me-sm-3"></i>
                            <div>
                              <h5 class="card-title">Wifi Tickets</h5>
                              <p class="card-text">Submit and track wifi related issues</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div> -->
                  <div style="width: 50%;">
                    <a href="/organisation/organisation-catalogue" class="text-decoration-none text-dark">
                      <div class="card h-80" style="height: 80%;">
                        <div class="card-body d-flex flex-column">
                          <div class="d-flex align-items-center flex-column flex-sm-row text-center text-sm-start">
                            <i class="fa fa-users fa-2x mb-2 mb-sm-0 me-sm-3"></i>
                            <div>
                              <h5 class="card-title">Organisation Catalogue</h5>
                              <p class="card-text">List your organisation on the catalogue</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>                        
          </div>
        </div>

        

        <!--  Row 1 -->
        <div class="row d-flex justify-content-center text-center" style="text-align: center;">
          <div class="col-lg-8 d-flex align-items-stretch card" style="padding: 0;">
            <div class="bg-image" style="border-radius: 8px; background-image: url('/website/assets/img/bg-new.png'); width: 100%; height:52vh; background-size: cover; background-attachment: fixed; position: relative;">
              <div style="border-radius: 8px; background-color: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center;">                          
              </div>
            </div>
          </div>
        </div>        
        
        
        
      </div>
      <div class="py-6 px-6 text-center" style="max-height:120px">
        <p class="mb-0 fs-4">Developed and Maintained by the Technology Ministry, Ashoka University Student Government</p>
      </div>
    </div>
  </div>
  </div>
  <script src="/organisation/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/organisation/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/organisation/assets/js/sidebarmenu.js"></script>
  <script src="/organisation/assets/js/app.min.js"></script>
  <script src="/organisation/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/organisation/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/organisation/assets/js/dashboard.js"></script>
  <script src="/organisation/assets/js/darkmode.js"></script>
  <script src="/organisation/assets/js/theme.js"></script>
  <%-include("../partials/preloader-js")%>
</body>
</html>